{% extends "activeBPM/base.html" %}
{% load activeBPM_tags %}

{% block middle %}

    <div class="row">
        <div class='col-md-12'>
            <div class="panel panel-default">
                <div class="panel-heading">Активные процессы</div>
                <table class="table">
                    <tr>
                        <th>Процесс</th>
                        <th>Задание</th>
                        <th>Задание получено</th>
                        <th>Задание взято в работу</th>
                    </tr>
                    {% for proc in active_proc_table %}
                        <tr>
                            <td>
                                <a href="{% url 'activeBPM:process-status' %}?instnc_id={{ proc.instnc_id }}">{{ proc.name }} {{ proc.vars.proc_individ_descr }}</a>
                            </td>

                            <td>
                                {% for task in proc.active_tasks %}
                                    {{ task.name }}
                                    {% if task.assignee %}
                                        (взято {{ task.assignee_profile.firstName.0 }}. {{ task.assignee_profile.lastName }})
                                    {% else %}
                                        (назначено {% for group in task.groups %}
                                            {{ group.name|lower }}{% if not forloop.last %}, {% endif %}{%  endfor %})
                                    {%  endif %}
                                    {% if not forloop.last %}
                                        <br>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for task in proc.active_tasks %}
                                    {{ task.start_time|format_date:"%d %b %H:%M" }}
                                    {% if not forloop.last %}
                                        <br>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for task in proc.active_tasks %}

                                    {{ task.assign_time|format_date:"%d %b %H:%M" }}
                                    {% if not forloop.last %}
                                        <br>
                                    {% endif %}
                                {% endfor %}
                            </td>

                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class='col-md-12'>
            <div class="panel panel-default">
                <div class="panel-heading">Приостановленные процессы</div>
                <table class="table">
                    <tr>
                        <th>Процесс</th>
                        <th>Задание</th>
                        <th>Задание получено</th>
                        <th>Задание взято в работу</th>
                    </tr>
                    {% for proc in suspended_proc_table %}
                        <tr>
                            <td>
                                <a href="{% url 'activeBPM:process-status' %}?instnc_id={{ proc.instnc_id }}">{{ proc.name }} {{ proc.vars.proc_individ_descr }}</a>
                            </td>

                            <td>
                                {% for task in proc.active_tasks %}
                                    {{ task.name }}
                                    {% if task.assignee %}
                                        (взято {{ task.assignee_profile.firstName.0 }}. {{ task.assignee_profile.lastName }})
                                    {% else %}
                                        (назначено {% for group in task.groups %}
                                            {{ group.name|lower }}{% if not forloop.last %}, {% endif %}{%  endfor %})
                                    {%  endif %}
                                    {% if not forloop.last %}
                                        <br>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for task in proc.active_tasks %}
                                    {{ task.start_time|format_date:"%d %b %H:%M" }}
                                    {% if not forloop.last %}
                                        <br>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for task in proc.active_tasks %}

                                    {{ task.assign_time|format_date:"%d %b %H:%M" }}
                                    {% if not forloop.last %}
                                        <br>
                                    {% endif %}
                                {% endfor %}
                            </td>

                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class='col-md-12'>
            <div class="panel panel-default">
                <div class="panel-heading">Законченные процессы</div>
                <table class="table">
                    <tr>
                        <th>Процесс</th>
                        <th>Длительность</th>
                        <th>Закончен</th>
                    </tr>
                    {% for proc in finished_proc_table %}
                        <tr>
                            <td>
                                <a href="{% url 'activeBPM:process-status' %}?instnc_id={{ proc.instnc_id }}">{{ proc.name }} {{ proc.vars.proc_individ_descr }}</a>
                            </td>

                            <td>
                                {{ proc.full_time|format_delta }}
                            </td>

                            <td>
                                {{ proc.end_time|format_date:"%d %b %Y" }}
                            </td>


                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>





    </div>
{% endblock %}