{% extends "activeBPM/base.html" %}
{% load moldsDev_tags %}
{% block middle %}
    <style>
        @import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);

        .btn-dropbox{color:#fff;background-color:#1087dd;border-color:rgba(0,0,0,0.2)}.btn-dropbox:hover,.btn-dropbox:focus,.btn-dropbox:active,.btn-dropbox.active,.open .dropdown-toggle.btn-dropbox{color:#fff;background-color:#0d70b7;border-color:rgba(0,0,0,0.2)}
.btn-dropbox:active,.btn-dropbox.active,.open .dropdown-toggle.btn-dropbox{background-image:none}
.btn-dropbox.disabled,.btn-dropbox[disabled],fieldset[disabled] .btn-dropbox,.btn-dropbox.disabled:hover,.btn-dropbox[disabled]:hover,fieldset[disabled] .btn-dropbox:hover,.btn-dropbox.disabled:focus,.btn-dropbox[disabled]:focus,fieldset[disabled] .btn-dropbox:focus,.btn-dropbox.disabled:active,.btn-dropbox[disabled]:active,fieldset[disabled] .btn-dropbox:active,.btn-dropbox.disabled.active,.btn-dropbox[disabled].active,fieldset[disabled] .btn-dropbox.active{background-color:#1087dd;border-color:rgba(0,0,0,0.2)}
        .btn-social{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.btn-social :first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
        .btn-social.btn-sm{padding-left:38px}.btn-social.btn-sm :first-child{line-height:28px;width:28px;font-size:1.4em}
        .btn-social.btn-xs{padding-left:30px}.btn-social.btn-xs :first-child{line-height:20px;width:20px;font-size:1.2em}

    </style>

    {% get_mold_folders  as mold_folders %}
    <div class='row'>
        <div class='col-md-12'>
            <button type="button" class="btn btn-small btn-default" id='maximize'>Развернуть все <span class="glyphicon glyphicon glyphicon-chevron-down" aria-hidden="true"></span></button>
            <button type="button" class="btn btn-small btn-default" id='minimize'>Свернуть все <span class="glyphicon glyphicon glyphicon-chevron-up" aria-hidden="true"></span></button>
        </div>
    </div>
    <br>

    {% for folder in mold_folders %}
        <div class='row mold_div'>
            <div class='col-md-12'><h4 style="float:left;" class='folder_name'>{{ folder }}</h4><span style=" margin-left: 10px; margin-top: 12px; float:left; cursor: pointer;" class="glyphicon glyphicon-chevron-down toggle" aria-hidden="true"></span></div>
            <div class='missing' style="display:none;">
                <div class='col-md-12'>
                    <div style="width: 200px; margin-bottom: 7px;">
                        <div id="dropbox_button">
                            <div style="width: 180px; opacity:0.5; margin-left: 10px;">
                                <a target="_blank" href="https://www.dropbox.com/home/molds_documentation/{{ folder }}" class="btn btn-block btn-social btn-dropbox btn-xs">
                                    <i class="fa fa-dropbox"></i> Посмотреть на Dropbox
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-md-12' style="margin-bottom: -10px;">
                    <label style="margin-left: 10px; ">Файлы:</label>
                    <ul class="list-group not_uploaded_files" style="margin-left: 30px; list-style-type: none;">
                    </ul>
                </div>
                <div class='col-md-12'>
                    <label style="margin-left: 10px; ">Спецификация:</label>
                    <ul class="list-group not_filled_fields" style="margin-left: 30px; list-style-type: none;">
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}

    <div style="display: none;">
        {% include 'activeBPM/proc_templates/molds_documentation/common_filenames.html' %}
        {% include 'activeBPM/proc_templates/molds_documentation/specification_fields.html' %}
    </div>

    <script>
        var mold_folder;
        var mold_files;




        function audit_mold(){
            var mold_div_el = $(this);
            var folder_name = mold_div_el.find('.folder_name').text();
            var not_uploaded_files_cont = mold_div_el.find('.not_uploaded_files');
            var not_filled_fields_cont = mold_div_el.find('.not_filled_fields');

            var string_data = $.ajax({
                    url: "{{ MEDIA_URL }}/Dropbox/molds_documentation/" + folder_name +'/спецификация.txt',
                    async: false
                 }).responseText;
            string_data = string_data.substring(string_data.indexOf("["));
            string_data = string_data.substring(1);  // one more for '['
            string_data = string_data.substring(0, string_data.length - 1);
            var split_text = string_data.split('\n[');
            for (var i = 0; i < split_text.length; i++) {
                var field_props = split_text[i].split(']\n');
                var field_id = $('label').filter(function() {
                    return $(this).text() == field_props[0];
                }).attr('for');

                $('#' + field_id).val(field_props[1]);
            }

            var fields = $('#fields_div input').add('#fields_div textarea');
            for (var i = 0; i < fields.length; i++){
                 var field = $(fields[i]);
                 var field_val = field.val();
                 var field_label = $('label[for=' + field.attr('id') +']').text();
                 not_filled_fields_cont.append('<em style="font-size:13px;"><strong>'+field_label+'</strong></em>');
                 not_filled_fields_cont.append('<p style="margin-bottom: 5px;">'+field_val+'&nbsp;</p>');
                 }


            mold_folder = folder_name;
            $.post('{% url "activeBPM:file-control" %}', {folder_path: mold_folder, action: 'get_files_props', csrfmiddlewaretoken: '{{ csrf_token }}', folder_shortcut: 'molds_documentation'}, function (data) {
                            not_uploaded_files_cont.html('');
                            mold_files = data;
                            for (var i = 0; i < data.length; i++)
                            {
                                //if (data[i]['name']=='спецификация.txt' && data[i]['folder_path'] == '') continue
                                var href_str = 'href="{{ MEDIA_URL }}' +'Dropbox/molds_documentation/'+ mold_folder + '/' + data[i]['folder_path'] + '/' + data[i]['name'] + '"';
                                var append_str = '<p><a ' + href_str + '><span class="glyphicon glyphicon-file"></span>'+data[i]['folder_path']+ '/'+data[i]['name']+'</a></p>';
                                not_uploaded_files_cont.append(append_str);
                            }
                        });



        }

        $(document).ready(function(){
            $('.mold_div').each(audit_mold);
            $('.toggle').click(function() {
                $(this).parent().next().slideToggle();
                if ($(this).hasClass('glyphicon-chevron-down')) {
                    $(this).removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
                }
                else if ($(this).hasClass('glyphicon-chevron-up'))
                    $(this).removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
            });
            $('#maximize').click(
                    function(){
                        $('.missing').slideDown();
                        $('.toggle').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
                    }

            );
            $('#minimize').click(
                    function(){
                        $('.missing').slideUp();
                        $('.toggle').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
                    }
            );
        });
    </script>
{% endblock %}