{% extends "activeBPM/base.html" %}
{% load activeBPM_tags %}

{% block middle %}
<div class="row">
    <div class='col-md-12'>
        <div class="panel panel-default">
            <div class="panel-heading">Ваши задачи</div>
            <table class="table">
                <tr>
                    <th>Задача</th>
                    <th>Процесс</th>
                    <th>Получено</th>
                    <th></th>
                </tr>
                {% for task in assignee_task_table %}
                    <tr>
                        <td>
                            <a href="{% url 'activeBPM:process-task' %}?instnc_id={{ task.proc_instnc_id }}&task_id={{ task.id }}">{{ task.name }}</a>
                        </td>
                        <td>
                            {{ task.proc_name }} {{ task.vars.proc_individ_descr }}
                        </td>
                        <td>
                            {{  task.start_time|format_date:"%d %b %H:%M" }}
                        </td>
                        <td>
                            {% if task.assignee %}
                                <form action="{% url 'activeBPM:task-control' %}" method="post" id='unassign_{{ task.id }}' style="display:none;">
                                    {% csrf_token %}
                                    <input type="hidden" name="task_id" value="{{ task.id }}"/>
                                    <input type="hidden" name="action" value="unassign"/>
                                </form>
                                <div class="btn-group btn-group-xs" style="width: 170px;">
                                    <button class="btn btn-success" type="button" onclick="window.location = '{% url 'activeBPM:process-task' %}?instnc_id={{ task.proc_instnc_id }}&task_id={{ task.id }}';">Продолжить</button>
                                    <button class="btn btn-danger" type="button" onclick="$('#unassign_{{ task.id }}').submit();">Отказаться</button>
                                </div>
                            {%  else %}
                                <form action="{% url 'activeBPM:task-control' %}" method="post" id='assign_{{ task.id }}' style="display:none;">
                                    {% csrf_token %}
                                    <input type="hidden" name="instnc_id" value="{{ task.proc_instnc_id }}"/>
                                    <input type="hidden" name="task_id" value="{{ task.id }}"/>
                                    <input type="hidden" name="action" value="assign"/>
                                </form>
                                <div class="btn-group btn-group-sm">
                                    <button class="btn btn-success" type="button" onclick="$('#assign_{{ task.id }}').submit();">начать</button>
                                </div>
                            {%  endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<div class='row'>
    <div class='col-md-12'>
        <div class="panel panel-default">
            <div class="panel-heading">Начать процесс</div>
            <div class="list-group">
                <div style="max-width: 600px;">
                    {% for proc in available_proc_table %}

                          <span class="list-group-item">
                            <a href="{% url 'activeBPM:process-init' %}?def_id={{ proc.def_id }}" ><button class="btn  btn-success btn-sm pull-right"> начать </button></a>
                            <h5 class="list-group-item-heading">{{ proc.name }}</h5>
                            <p class="list-group-item-text"><small>{{ proc.descr }}</small></p>
                          </span>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
    <hr>

<div class="row">
    <div class='col-md-12'>
        <div class="panel panel-default">
            <div class="panel-heading">Активные процессы</div>
            <table class="table">
                <tr>
                    <th>Процесс</th>
                    <th>Задание</th>
                    <th>Задание получено</th>
                    <th>Задание взято в работу</th>
                </tr>
                {% for proc in active_proc_table %}
                    <tr>
                        <td>
                            <a href="{% url 'activeBPM:process-status' %}?instnc_id={{ proc.instnc_id }}">{{ proc.name }} {{ proc.vars.proc_individ_descr }}</a>
                        </td>

                        <td>
                            {% for task in proc.active_tasks %}
                                {{ task.name }}
                                {% if task.assignee %}
                                    (взято {{ task.assignee_profile.firstName.0 }}. {{ task.assignee_profile.lastName }})
                                {% else %}
                                    (назначено {% for group in task.groups %}
                                        {{ group.name|lower }}{% if not forloop.last %}, {% endif %}{%  endfor %})
                                {%  endif %}
                                {% if not forloop.last %}
                                    <br>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for task in proc.active_tasks %}
                                {{ task.start_time|format_date:"%d %b %H:%M" }}
                                {% if not forloop.last %}
                                    <br>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for task in proc.active_tasks %}
                                {% if task.start_time == task.assign_time %}
                                    Назначено автоматически
                                {% else %}
                                    {{ task.assign_time|format_date:"%d %b %H:%M" }}
                                {% endif %}
                                {% if not forloop.last %}
                                    <br>
                                {% endif %}
                            {% endfor %}
                        </td>

                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>


    <div class='col-md-12'>
        <div class="panel panel-default">
            <div class="panel-heading">Последние законченные процессы</div>
            <table class="table">
                <tr>
                    <th>Процесс</th>
                    <th>Длительность</th>
                    <th>Закончен</th>
                </tr>
                {% for proc in finished_proc_table %}
                    {%  if forloop.counter <= 10 %}
                        <tr>
                            <td>
                                <a href="{% url 'activeBPM:process-status' %}?instnc_id={{ proc.instnc_id }}">{{ proc.name }} {{ proc.vars.proc_individ_descr }}</a>
                            </td>

                            <td>
                                {{ proc.full_time|format_delta }}
                            </td>

                            <td>
                                {{ proc.end_time|format_date:"%d %b %Y" }}
                            </td>


                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}