{% extends "moldslist/base.html" %}
{% load moldslist_tags %}

{% block middle %}

    <div class="row">
        <div class='col-md-12'>
            <div class="panel panel-default">
                <div class="panel-heading">Активные процессы</div>
                <table class="table">
                    <tr>
                        <th>Процесс</th>
                        <th>Форма</th>
                        <th>Начало</th>
                        <th></th>
                    </tr>
                    {% for proc in active_molds_proc_table %}
                        <tr>
                            <td>
                                <a href="{% url 'moldslist:process-status' %}?id={{ proc.id }}">{{ proc.name }}</a>
                            </td>

                            <td>
                                {{ proc.mold_number }} {{ proc.mold_name }}
                            </td>

                            <td>
                                {{ proc.start_time|format_date:"%H:%M %d %b %Y" }}
                            </td>
                            <td>
                                <form action="{% url 'moldslist:process-control' %}" method="post" id='stop_{{ proc.id }}' style="display:none;">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{ proc.id }}"/>
                                    <input type="hidden" name="action" value="suspend"/>
                                </form>

                                <form action="{% url 'moldslist:process-control' %}" method="post" id='delete_{{ proc.id }}' style="display:none;">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{ proc.id }}"/>
                                    <input type="hidden" name="action" value="delete"/>
                                </form>
                                <div class="btn-group btn-group-sm">


                                    <button class="btn btn-warning" type="button" onclick="$('#stop_{{ proc.id }}').submit();">Приостановить</button>
                                    <button class="btn btn-danger" type="button" onclick="$('#delete_{{ proc.id }}').submit();">Удалить</button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>


        <div class='col-md-12'>
            <div class="panel panel-default">
                <div class="panel-heading">Приостановленные процессы</div>
                <table class="table">
                    <tr>
                        <th>Процесс</th>
                        <th>Форма</th>
                        <th>Начало</th>
                        <th></th>
                    </tr>
                    {% for proc in suspended_molds_proc_table %}
                        <tr>
                            <td>
                                <a href="{% url 'moldslist:process-status' %}?id={{ proc.id }}">{{ proc.name }}</a>
                            </td>

                            <td>
                                {{ proc.mold_number }} {{ proc.mold_name }}
                            </td>

                            <td>

                            </td>
                            <td>
                               <form action="{% url 'moldslist:process-control' %}" method="post" id='resume_{{ proc.id }}' style="display:none;">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{ proc.id }}"/>
                                    <input type="hidden" name="action" value="resume"/>
                               </form>
                               <form action="{% url 'moldslist:process-control' %}" method="post" id='delete_{{ proc.id }}' style="display:none;">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{ proc.id }}"/>
                                    <input type="hidden" name="action" value="delete"/>
                               </form>

                               <div class="btn-group btn-group-sm">
                                    <button class="btn btn-success" type="button" onclick="$('#resume_{{ proc.id }}').submit();">Продолжить&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                    <button class="btn btn-danger" type="button" onclick="$('#delete_{{ proc.id }}').submit();">Удалить</button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>


    </div>
{% endblock %}