{% extends "moldslist/proc_task.html" %}



{% block heading %}
    <h2> Запуск процесса: {{ proc_name }}</h2>




    <script>
       var show_init_task = function  () {
                    $('g[data-element-id="start_event"]').find('.djs-outline').attr('stroke', 'Maroon');
                    $('g[data-element-id="start_event"]').find('.djs-outline').attr('stroke-dasharray', '5,5');
                    $('g[data-element-id="start_event"]').find('.djs-visual circle').attr('fill', '#FFFF00')
                }

    </script>
{% endblock %}

{% block process_status %}

{% endblock %}