{% extends "moldslist/base.html" %}
{%  load moldslist_tags %}

{% block middle %}
    <div class = 'row'>
        <div class='col-md-12'>
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% block heading %}
                        <h3> Процесс: <i>{{ proc_name }}</i></h3>
                        <h5> Форма: <i>{{ mold_name }} {{ mold_number }}</i> &nbsp;&nbsp;&nbsp; Статус: <i>{% if proc_status == 'active' %}активен{% elif proc_status == 'suspended' %}приостановлен{% elif proc_status == 'finished' %}окончен{% endif %}</i></h5>
                        {% if proc_help_text %}<p> {{ proc_help_text }} </p>{% endif %}
                    {% endblock %}
                </div>
                {% block process_diagram %}
                    <div id="bp_canvas"></div>

                    <script>
                        (function(BpmnViewer, $) {

                            var bpmnViewer = new BpmnViewer({
                                container: '#bp_canvas',
                                width: '100%',
                                height: '500px'
                            });

                            function importXML(xml) {

                                bpmnViewer.importXML(decodeURIComponent(escape(xml)), function(err) {

                                if (err) {
                                    return console.error('could not import BPMN 2.0 diagram', err);
                                }

                                var canvas = bpmnViewer.get('canvas')
                                var overlays = bpmnViewer.get('overlays');

                                canvas.zoom('fit-viewport');
                                $(document).ready( function () {
                                    if (typeof show_assignee_task == 'function') {
                                        show_assignee_task();
                                    };

                                    if (typeof show_current_tasks == 'function') {
                                        show_current_tasks();
                                    };

                                    if (typeof show_init_task == 'function') {
                                        show_init_task();
                                    };

                                    if (typeof show_end_task == 'function') {
                                        show_end_task();
                                    };
                                })


                                });


                            }

                            $.get('{% url "moldslist:process-xml" %}?id={{ proc_def_id }}', importXML);

                        })(window.BpmnJS, window.jQuery);

                        $('.bjs-powered-by').remove()


                    </script>
                {% endblock %}
            </div>
        </div>
    </div>
    {% block task %}
    {% endblock %}

    {% block process_status %}
        {% if proc_status == 'active' or proc_status == 'suspended' %}
            <div class="row">
                <div class='col-md-12'>
                    <div class="panel panel-default">
                        <div class="panel-heading">Активные задачи</div>
                        <table class="table">
                            <tr>
                                <th>Задача</th>
                                <th>Исполнитель</th>
                                <th>Назначено</th>
                            </tr>
                            {% for task in active_tasks %}
                             <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.assignee }}</td>
                                <td>{{ task.createTime|format_date:"%d %b %H:%M" }}</td>
                             </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>


            <script>
                var show_current_tasks = function  () {
                    active_tasks = [{% for task in active_tasks %}'{{ task.taskDefinitionKey }}', {% endfor %}]
                    for(var i = 0; i < active_tasks.length; i++) {
                        $('g[data-element-id="' + active_tasks[i] + '"]').find('.djs-visual rect').attr('fill', '#FFFF00')
                                .attr('fill-opacity','0.5');
                    }
                }
            </script>
        {% endif %}

        {% if proc_status == 'finished' %}
            <script>
               var show_end_task = function  () {
                            $('g[data-element-id="end_event"]').find('.djs-outline').attr('stroke', 'Maroon');
                            $('g[data-element-id="end_event"]').find('.djs-outline').attr('stroke-dasharray', '5,5');
                            $('g[data-element-id="end_event"]').find('.djs-visual circle').attr('fill', '#FFFF00')
                        }
            </script>
        {% endif %}

        {% if finished_tasks %}
             <div class="row">
                <div class='col-md-12'>
                    <div class="panel panel-default">
                        <div class="panel-heading">Законченные задачи</div>
                            <table class="table">
                                <tr>
                                    <th>Задача</th>
                                    <th>Исполнитель</th>
                                    <th>Длительность</th>
                                    <th>Закончено</th>
                                </tr>
                                {% for task in finished_tasks %}
                                    <tr>
                                        <td>{{ task.name }}</td>
                                        <td>{{ task.assignee }}</td>
                                        <td>{{ task.time_spend|format_delta }}</td>
                                        <td>{{ task.endTime|format_date:"%H:%M %d %b %Y" }}</td>
                                    </tr>
                                {% endfor %}
                            </table>

        {% endif %}
    {% endblock %}


{% endblock %}