{% extends 'activeBPM/proc_init.html' %}
{% load activeBPM_tags %}

{% block form_attrs %}action="{% url 'activeBPM:process-init' %}?def_id={{ proc.def_id }}" method="post"{% endblock %}

{% block submit_button %}
    <div class="row">
        <div class="col-md-12">
            <div style="width:420px;">
                <button id='start_process_button' class="btn btn-success" style="float:right;" type="submit">Запустить процесс</button>
            </div>
        </div>
    </div>
{% endblock %}